<script src="/js/env.js"></script>
<script src="/js/bundle.js"></script>

<% if (!user) { %>
	<p>Welcome! Please <a href="/login">login</a>.</p>
<% } else { %>
	<p>Hello, <%= user.username %>. View your <a href="/profile">profile</a>.</p>
   <p><a href="/logout">Logout</a>
<% } %>
<p>
<button onclick="sendMsg()">send</button>
